<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
default-lazy-init="true">
    
    <bean scope="prototype" id="abstractGetBeanTest" class="com.example.test.lookup.method.bean.AbstractGetBeanTest">
        <lookup-method name="getBean" bean="teacher"/>
        <constructor-arg ref="teacher"/>
        <property name="userNo" value="teacher"/>
        <constructor-arg value="10" type="int"/>
    </bean>
    
    <bean id="teacher" scope="singleton" class="com.example.test.lookup.method.bean.Teacher"/>
    
    <bean id="dog" class="com.example.test.scope.entity.Dog" scope="prototype"/>
    
    <bean id="chinese" class="com.example.test.scope.entity.Chinese">
<!--        Spring 只要检测到 lookup-method 元素 , 会自动为该元素的 name 属性所指定的方法提供实现体 -->
        <lookup-method name="getDog" bean="dog"/>
    </bean>
</beans>